.btn {
  background-color: #fcbe03;
  border: 2px solid #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 230px;
  height: 60px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}
nav {
  justify-content: space-between;
}
@media (max-width: 500px) {
  nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
}
nav img.luncher-logo {
  max-width: 10%;
  height: auto;
  margin-right: 120px;
}
nav .first-nav-item {
  margin-left: 120px;
}
nav a {
  text-decoration: none;
  color: #444448;
  font-size: 1.2rem;
  margin: 20px;
}
nav a:hover {
  text-decoration: underline;
  color: #22BC22;
}
@media (max-width: 500px) {
  nav a {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
footer {
  padding: 30px  20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  background-color: #fcbe03;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container header {
  display: flex;
  align-items: center;
  margin: 30px;
}
.container .welcome {
  width: 100%;
  height: 650px;
  background-image: url("/images/welcome-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.container .welcome .welcome-area {
  color: #ffffff;
  text-align: center;
}
.container .welcome .welcome-area h1 {
  font-size: 4.875rem;
  font-family: "Open Sans", Sans-serif;
  font-weight: 900;
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
}
.container .welcome .welcome-area h1 .lunchBold {
  color: #fcbe03;
}
.container .welcome .welcome-area h3 {
  font-size: 1.25rem;
  font-weight: 200;
}
.container .welcome .welcome-area h3 .child {
  color: #22BC22;
}
.container .cta {
  background-color: #fcbe03;
  padding: 30px 0;
  text-align: center;
}
.container .section-sch {
  padding-top: 60px;
}
.container .section-sch .heading {
  font-size: 2.5rem;
  font-family: "Raleway", Sans-serif;
  font-weight: 900;
  color: #22BC22;
  text-align: center;
  letter-spacing: -0.6px;
  padding-bottom: 12px;
}
.container .section-sch .section-heading-p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 250;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin: 10px 20px;
  padding-top: 35px;
  padding-bottom: 45px;
}
.container .section-sch .hr-line {
  width: 60px;
  height: 3px;
  content: " ";
  bottom: -5px;
  text-align: center;
  background-color: #22BC22;
}
.container .school-list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
.container .school-list-section .school-name {
  border: 2px solid black;
  border-radius: 15px;
  width: 320px;
  height: 200px;
  padding: 25px;
  margin-top: 35px;
  justify-content: space-between;
  text-align: center;
}
.container .school-list-section .name-box {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 0 30px 0;
}
.container .school-list-section .name-box-paragraph {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  line-height: 20px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  max-width: 100%;
}
.container .hero-img {
  width: 100%;
  height: 110%;
  background-image: url("../images/dinner-egg-flatlay-54455.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-top: 3px solid #fcbe03;
  border-bottom: 3px solid #fcbe03;
}
.container h1 {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #22BC22;
  margin: 15% 0;
  font-size: 5rem;
}
.container .desc {
  margin: 8% auto;
  padding: 30px;
  font-size: 1.2rem;
  font-weight: 250;
  line-height: 1.4;
  color: #444448;
}
.container .team-filter {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .team-item {
  width: 326px;
  height: 326px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  border: 2px solid #444448;
  border-radius: 3%;
  margin: 10px 20px;
}
.container .team-img {
  margin: 0 auto;
}
.container img {
  width: 120px;
  height: 120px;
  border: 2px solid white;
  border-radius: 50%;
}
.container .team-text {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  color: #444448;
}
.container .team-text .team-name {
  font-size: 1.3rem;
}
.container .team-text .title {
  font-size: 16px;
}
.container .socials {
  margin: 0 auto;
  font-size: 2rem;
}
.container .fab {
  color: #22BC22;
}
footer {
  padding: 30px 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  background-color: #fcbe03;
}
