.btn {
  background-color: #fcbe03;
  border: 2px solid #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 230px;
  height: 60px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  nav {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  nav {
    width: 80%;
  }
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #444445;
  font-family: 'Baloo Bhai', 'Open Sans';
  font-size: 1.2rem;
  margin: 20px;
}
@media (max-width: 500px) {
  nav a {
    font-size: 1rem;
    margin-right: 0;
    text-decoration: underline;
  }
}
@media (max-width: 375px) {
  nav a {
    font-size: 0.8rem;
    margin: 0;
  }
}
nav a:hover {
  text-decoration: underline;
  color: #22BC22;
}
footer {
  padding: 30px  20px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #fcbe03;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container header {
    margin-top: 10px;
  }
}
@media (max-width: 375px) {
  .container header {
    margin-bottom: 10px;
  }
}
.container header .logo {
  width: 10%;
  padding: 0;
  margin: 0;
}
@media (max-width: 500px) {
  .container header .logo {
    position: center;
    width: 12%;
    margin: 0 auto;
  }
}
.container header .logo:hover {
  transform: scale(1.5);
}
.container .welcome {
  width: 100%;
  height: 685px;
  background-image: url("../images/welcome-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .welcome {
    width: auto;
    height: 500px;
  }
}
.container .welcome .welcome-area {
  color: #ffffff;
  text-align: center;
}
.container .welcome .welcome-area h1 {
  font-size: 4.875rem;
  font-family: "Open Sans", Sans-serif;
  font-weight: 900;
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
}
@media (max-width: 500px) {
  .container .welcome .welcome-area h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
    padding-top: 20px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .container .welcome .welcome-area h1 {
    font-size: 3.2rem;
  }
}
.container .welcome .welcome-area h1 .lunchBold {
  color: #fcbe03;
}
.container .welcome .welcome-area h3 {
  font-size: 1.25rem;
  font-weight: 200;
}
@media (max-width: 500px) {
  .container .welcome .welcome-area h3 {
    line-height: 1.5;
    padding-top: 10px;
  }
}
@media (max-width: 375px) {
  .container .welcome .welcome-area h3 {
    font-size: 1.2rem;
    padding-top: 5px;
  }
}
.container .welcome .welcome-area h3 .child {
  color: #22BC22;
}
.container .cta {
  background-color: #fcbe03;
  padding: 30px 0;
  text-align: center;
}
@media (max-width: 500px) {
  .container .cta {
    padding: 20px 0;
  }
}
.container .section-sch {
  padding-top: 60px;
}
.container .section-sch .heading {
  font-size: 2.5rem;
  font-family: "Raleway", Sans-serif;
  font-weight: 900;
  color: #22BC22;
  text-align: center;
  letter-spacing: -0.6px;
  padding-bottom: 12px;
}
.container .section-sch .section-heading-p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 250;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin: 10px 20px;
  padding-top: 35px;
  padding-bottom: 45px;
}
.container .section-sch .hr-line {
  width: 60px;
  height: 3px;
  content: " ";
  bottom: -5px;
  text-align: center;
  background-color: #22BC22;
}
.container .school-list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
.container .school-list-section .school-name {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 10px #444445;
  width: 320px;
  height: 200px;
  padding: 25px;
  margin-top: 30px;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 800px) {
  .container .school-list-section .school-name {
    margin: 0 auto;
    margin-top: 25px;
  }
}
@media (max-width: 500px) {
  .container .school-list-section .school-name {
    margin: 0 auto;
    margin-top: 25px;
  }
}
@media (max-width: 375px) {
  .container .school-list-section .school-name {
    width: 280px;
  }
}
.container .school-list-section .school-name img {
  max-width: 30%;
  height: auto;
  padding: 0;
  margin: 0;
}
.container .school-list-section .school-name img:hover {
  transform: scale(1.5);
}
.container .school-list-section .name-box {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 0 20px 0;
}
.container .school-list-section .name-box-paragraph {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  line-height: 15px;
}
.heading {
  font-size: 2.5rem;
  font-family: "Raleway", Sans-serif;
  font-weight: 900;
  color: #22BC22;
  text-align: center;
  letter-spacing: -0.6px;
  padding-bottom: 12px;
}
.heading .hr-line {
  width: 60px;
  height: 3px;
  content: " ";
  bottom: -5px;
  text-align: center;
  background-color: #22BC22;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.left-btn,
.right-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  width: 50px;
  height: 50px;
  font-family: 'Stylish', sans-serif;
  font-size: 3rem;
}
.left-btn {
  top: 50%;
  left: 25px;
}
.right-btn {
  top: 50%;
  right: 25px;
}
.carousel-img {
  width: 30rem;
}
.slide {
  width: 50%;
  height: 300px;
  display: none;
}
.contact-us {
  background-image: url("../images/contact.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
.contact-us h1 {
  color: #FFCC11;
  text-align: center;
  -webkit-text-stroke: 3px green;
  font-size: 6rem;
  font-family: "Open Sans", Sans-serif;
  font-weight: 900;
  position: relative;
}
#form-main {
  width: 100%;
}
#form-div {
  background-color: #FFCC11;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
}
.feedback {
  color: #385E0F;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #22BC22;
}
#btn-submit {
  width: 100%;
  border: 4px solid #fbfbfb;
  cursor: pointer;
  background-color: #22BC22;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: -4px;
}
/* Little Images ---------------------------------- */
#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
@media (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 80%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  .contact-us {
    width: 50%;
  }
}
