footer{
    //border: 2px solid red;
    padding: 30px  20px;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    font-size: 1rem;
    font-weight: 300;
    background-color: @luncher;
  }