* {
  box-sizing: border-box;
}

html {
  font-size: 100%; //62.5% ?
}

body {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

