//Navigation Styles

nav {
  align-items: center;
  justify-content: space-between;
  
  @media @mobile {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  @media @phone {
  width: 80%;
  }

  .logo{
    width: 200px;
  
    
    @media @mobile {
      position: center;
      width: 100px;
      margin: 0 auto;
    }
  }

  a {
    text-decoration: none;
    color: @navigation;
    font-size: 1.2rem;
    margin: 20px;

    @media @mobile {
      font-size: 1rem;
      margin-right: 0;
      text-decoration: underline;
    }

    @media @phone {
      font-size: .8rem;
     margin: 0;
    }
    
    &:hover {
      text-decoration: underline;
      color: @green;
    }

  }
} //nav ends