// PARTNERS SECTION
  
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.left-btn,
.right-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  width: 50px;
  height: 50px;
  font-family: 'Stylish', sans-serif;
  font-size: 3rem;
}

.left-btn {
  top: 50%;
  left: 25px;
}

.right-btn {
  top: 50%;
  right: 25px;
}

.carousel-img {
  width: 30rem;
}

.slide {
  //width: 100%;
  display: none;
}
