//color assignments
@font-color: @header;
@button-bg: @yellow;
@main-bg: @blue;
@navigation: @gray;
@footer-bg: @white;

//Actual Colors
@white: #ffffff;
@blue: #17A2B8;
@gray: #444448;
@yellow: #ffff00;
@header: #adff2f;
@green: #22BC22;

//Mobile responsiveness
@mobile: ~"(max-width: 500px)";

//Tablet Responsiveness
@tablet: ~"(max-width: 800px)";